{% extends "layout.html" %}

{% block title %}your emotions were considered{% endblock title %}

{% block content %}
<div class="header">Discover your movie for today depending on your mood.<br>
    To start, just enter a couple of emojies below, which mostly represent your mood at the moment.</div>
<div class="content mdl-grid">
    <div class="mdl-cell mdl-cell--3-col">Movie 1</div>
    <div class="mdl-cell mdl-cell--3-col">Movie 1</div>
    <div class="mdl-cell mdl-cell--3-col">Movie 1</div>
    <div class="mdl-cell mdl-cell--3-col">Movie 1</div>
    <!--{% for movie in movies %}-->
    <!--<div class="mdl-cell mdl-cell&#45;&#45;3-col">movie.title</div>-->
    <!--{% endfor %}-->
</div>
{% endblock content %}