{% extends "layout.html" %}

{% block content %}
        <div class="header">Discover your movie for today's evening depending on your mood.<br>
        To start, just enter a couple of emojies below, which mostly represent your mood at the moment.</div>
        <div class="emoji-grid"></div>
            <nav class="demo-nav mdl-cell mdl-cell--12-col">
                <div class="section-spacer"></div>
                <a href="base_movie.html" class="demo-nav__button" title="show more">
                    More
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                        <i class="material-icons" role="presentation">arrow_forward</i>
                    </button>
                </a>
            </nav>
        </div>

{% endblock content %}
